<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.net/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#search-button').click(function() {
                var keyword = $('#search-input').val();
                window.location.href = '/patent_list.html?keyword=' + keyword;
            });
        });
    </script>
</head>
<body>
<div class="wrapper">
    <header>专利列表</header>
    <div class="search-container">
        <input type="text" id="search-input" placeholder="输入搜索关键词">
        <button id="search-button">搜索</button>
    </div>
    <nav>
        <ul>
            <li>
                <p>{{ data.patent_sum }}部</p>
                <p>专利总数</p>
            </li>
        </ul>
    </nav>
    <section>
        <table class="table table-striped">
            <caption><span class="glyphicon glyphicon-th-list"></span>专利数据详情表</caption>
            <thead>
            <tr>
                <th>序号</th>
                <th>专利名称</th>
                <th>申请人</th>
                <th>发明人</th>
                <th>申请日期</th>
                <th>公开日期</th>
                <th>专利类型</th>
            </tr>
            </thead>
            <tbody>
            {% for patent in data.patent %}
            <tr>
                <td>{{ patent[0]}}</td>
                <td>{{ patent[1]}}</td>
                <td>{{ patent[2] }}</td>
                <td>{{ patent[3] }}</td>
                <td>{{ patent[4] }}</td>
                <td>{{ patent[5] }}</td>
                <td>{{ patent[6] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
</div>
</body>
</html>